/* 全体 */
body {
    margin: 0;
    font-family: "Yu Gothic", "Hiragino Maru Gothic ProN", sans-serif;
    background: #f5fff5;
    color: #333;
}

/* ヘッダー */
header {
    background: #2e8b57;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav a {
    color: #eaffea;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

/* 記事一覧 */
.posts {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

.post {
    background: #ffffff;
    border-left: 6px solid #2e8b57;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.post:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.date {
    font-size: 12px;
    color: #666;
}

.readmore {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 12px;
    background: #2e8b57;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.readmore:hover {
    background: #246f46;
}

/* フッター */
footer {
    background: #2e8b57;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}.read-more-3 {
    position: relative;
}

.read-more-3 p {
    position: relative;
    max-height: 100px; /* 開く前に見せたい高さを指定 */
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 1s;
}

.read-more-3:has(:checked) p {
    max-height: 100vh;
}

.read-more-3 p::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, .9) 0, #fff);
    content: '';
}

.read-more-3:has(:checked) p::after {
    content: none;
}

.read-more-3 label {
    display: flex;
    align-items: center;
    gap: 0 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: .4em 1.2em;
    border-radius: 25px;
    background-color: #2589d0;
    color: #fff;
    font-size: .7em;
}

.read-more-3 label:hover {
    border:1px solid #2589d0;
    background-color: #fff;
    color: #2589d0;
    cursor: pointer;
}

.read-more-3:has(:checked) label {
    display: none;
}

.read-more-3 label::after {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-3 label:hover::after{
    background-color: #2589d0;
}

.read-more-3 input {
    display: none;
}
